BasedOnStyle: Google
ColumnLimit: 100
PenaltyReturnTypeOnItsOwnLine: 500
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: AfterColon
AlwaysBreakAfterReturnType: None